*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #1d2d44;
}


.head{
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px gray;
}

/**********************************************************************************************/

.box{
  position: relative;
}

.container{ 
  padding-left: 550px; 
}

.centerpos{
  padding-left: 140px;
  padding-top: 160px;
}


.centerbox{
  position: absolute;
  border-radius: 50%;
  background-color: white;
  height: 250px;
  width: 250px;
  display: block;
  float: left;
  box-shadow: 0px 2.98px 7.45px #212529;
}

.no{
  color: black;
  font-size: 4rem;
  padding-left: 105px;
  padding-top: 90px;
  text-shadow: 2px 2px gray;
}

.pluspos{
  padding-top: 300px;
}

.plusbox:hover{
  cursor: pointer;
  opacity: 50%;
}


.plusbox{
  position: absolute;
  background-color: gray;
  height: 180px;
  width: 180px; 
  box-shadow: 0px 2.98px 7.45px white;
  border-radius: 50%; 
}

.minusbox:hover{
  cursor: pointer;
  opacity: 50%;
}


.plus{ 
  color: black;
  font-size: 4rem;
  text-shadow: 2px 2px white;
}

.minuspos{
  padding-left: 340px;
}

.minusbox{
  position: absolute;
  background-color: gray;
  height: 180px;
  width: 180px; 
  border-radius: 50%; 
  box-shadow: 0px 2.98px 7.45px white;
}

.minus{
    color: black;
    font-size: 4.5rem;
    text-shadow: 2px 2px white;
}
